.tour-content img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 2.5rem;
}
.tour-info {
    width: 100%;
    padding: 2.5rem;
    border-radius: 8px;
    border: 1px solid rgba(229,231,235);
}
.tour-info h2 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}
.tour-info span  {
    font-size: .8rem;
    color: var(--text-color);
}
.tour-info .rate span{
    cursor: pointer;
}
.tour-des {
    margin-top: 1.5rem;
}

.tour-des p {
    font-size: .9rem;
    color: var(--text-color);
}
form .review-form {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    height: auto;
    border-radius: 50px;
    border: 1px solid var(--secondary-color);
    padding: 10px;
}
form .review-form input {
    height: 100%;
    width: 100%;
    margin-left: 5px;
    outline: none;
    border: none;
    font-size: 1rem;
}
form .review-form button {
    margin-left: auto;
    border-radius: 20px;
    color: #fff;
}
.user-reviews {
    margin-top: 2.5rem;
}
.review-item {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin-bottom: 2rem;
}
.review-item img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    object-fit: cover;
}
.review-item h5 {
    font-size: .9rem;
    margin-bottom: 0;
}
.review-item p {
    font-size: .8rem;
    color: var(--text-color);
}
.review-item h6 {
    font-size: 1rem;
    color: var(--text-color);
}
.review-item span {
    font-weight: 600;
    color: var(--heading-color);
}